[core]
    excludesfile = ~/.gitignore
    editor = vim
    quotepath = false
[color]
    ui = true
[alias]
    st = status
    co = checkout
    ci = commit
    df = diff
    br = branch
    ch = cherry-pick
    sb = submodule
    ls = !git ls-files -t|perl -pe 's/\\/.*/\\//'|uniq -c
    ll = !git ls-files -cdmokt|perl -pe 's/\\/.*/\\//'|grep -v '/'
    la = ls-files -cdmokt
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    noff = merge --no-ff
    delete-merged-branch = "!f() { git checkout $1; git branch --merged | egrep -v '\\*|master' | xargs git branch -d; };f"
    purge = "!f() { bfg --delete-files $@ $(git rev-parse --show-toplevel); };f"
[push]
    # Use the Git 1.x.x default to avoid errors on machines with old Git
    # installations. To use `simple` instead, add this to your `~/.extra` file:
    # `git config --global push.default simple`. See http://git.io/mMah-w.
    default = matching
[user]
    name = Yuta OHWATARI
    email = yuta_ohwatari@voyagegroup.com
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[merge]
    tool = vimdiff
[ghq]
       root = ~/src
[url "git@github.com:"]
       pushInsteadOf = git://github.com/
       pushInsteadOf = https://github.com/
[url "git@gist.github.com:"]
       pushInsteadOf = https://gist.github.com//
[url "git://github.com/"]
       insteadOf = https://github.com/
