OCO_AI_PROVIDER=openai
OCO_API_KEY={{ onepasswordRead "op://Personal/opencommit/credential" }}
OCO_DESCRIPTION=false
OCO_EMOJI=false
OCO_GITPUSH=false
OCO_LANGUAGE=en
OCO_MESSAGE_TEMPLATE_PLACEHOLDER=$msg
OCO_MODEL=gpt-4.1-nano
OCO_ONE_LINE_COMMIT=true
OCO_PROMPT_MODULE=conventional-commit
OCO_TEST_MOCK_TYPE=commit-message
OCO_TOKENS_MAX_INPUT=1047576
OCO_TOKENS_MAX_OUTPUT=32768
OCO_WHY=false

